body{

font-family:'Poppins',sans-serif;
background:white;
text-align:center;
margin:0;

}

.logo{

width:260px;
margin-bottom:5px;

}

.container{

margin-top:40px;

}

.circle{

position:relative;
width:220px;
margin:auto;

}

.timer{

position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);

}

.botones button{

padding:10px 20px;
margin:10px;

border:none;
border-radius:10px;

font-size:16px;

cursor:pointer;

background:linear-gradient(135deg,#2EC4B6,#43E97B);

color:white;

transition:0.3s;

}

.botones button:hover{

transform:scale(1.1);

}

select{

padding:8px;
border-radius:8px;
margin-top:5px;

}

.frase{

color:#2EC4B6;
font-style:italic;
margin-top:10px;

}

.pausa{

display:none;
text-align:center;
margin-top:40px;

}

.tituloPausa{

color:#2EC4B6;

}

.subtitulo{

margin-bottom:20px;
color:#555;

}

.contenedorEjercicios{

display:flex;
justify-content:center;
flex-wrap:wrap;
gap:30px;

}

.tarjeta{

width:180px;

background:white;

padding:15px;

border-radius:15px;

margin:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

cursor:pointer;

transition:0.3s;

}

.tarjeta:hover{

transform:scale(1.05);

box-shadow:0 8px 20px rgba(0,0,0,0.15);

}

.tarjeta img{

width:100%;
border-radius:10px;

}

#detalleEjercicio{

margin-top:20px;

max-width:500px;

margin-left:auto;
margin-right:auto;

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.btnDescanso{

margin-top:25px;

padding:12px 25px;

font-size:16px;

border:none;

border-radius:30px;

cursor:pointer;

background:linear-gradient(135deg,#2EC4B6,#43E97B);

color:white;

animation:pulse 2s infinite;

}

@keyframes pulse{

0%{transform:scale(1)}
50%{transform:scale(1.08)}
100%{transform:scale(1)}

}

.notificacion{

position:fixed;

top:20px;
right:20px;

background:linear-gradient(135deg,#2EC4B6,#43E97B);

color:white;

padding:15px 25px;

border-radius:12px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

font-weight:500;

display:none;

z-index:999;

animation:slide 0.5s ease;

}

@keyframes slide{

from{
transform:translateX(100%);
opacity:0;
}

to{
transform:translateX(0);
opacity:1;
}

}
#tiempoPersonalizadoBox{

margin-top:15px;

}

#tiempoPersonalizado{

padding:10px;

width:220px;

border:2px solid #2EC4B6;

border-radius:10px;

font-size:15px;

font-family:'Poppins',sans-serif;

text-align:center;

outline:none;

transition:0.3s;

}

#tiempoPersonalizado:focus{

border-color:#43E97B;

box-shadow:0 0 10px rgba(46,196,182,0.3);

}